.row >div {
    float: right;
}

/* ************ strat nav ************** */
nav .logo{
    margin-bottom: -24px;
}
nav .logo p:first-of-type{
    font-size: 30px;
    color: #525252;
    margin: 20px 0px -19px 70px;
}
nav .logo p:last-of-type{
    font-size: 30px;
    color: #525252;
    margin: 0px 0px -14px 39px; 
}
nav .logo img{
    width: 100px;
    display: inline-block;
    margin: -65px 0px 0px 162px;
}
ul{
   margin-top: 24px; 
}
nav ul  {
    direction: rtl;
}
nav ul li{
    padding-top: 12px;
    margin-top: 4px;
}
nav ul li:nth-of-type(10){
    background-color: #2cc3b53d;
    border-radius: 5px;
    width: 93%;
}
nav ul li:first-of-type img , li:nth-of-type(2) img , li:nth-of-type(4) img{
    margin-top: 4px;
}
nav ul li a:hover{
    text-decoration: none; 
}
nav ul li:hover{
    background-color: #2cc3b53b;
    border-radius: 5px;
    margin-right: 10px;
    width: 235px;
}
 nav ul li a img{
    width: 35px;
    margin-top: -8px;
    margin-left: 15px;
    float: right;
}
nav ul li a span{
     font-size: 30px;
    color: #525252;
}
/*  ********* left side ************* */

/* ***** shape ****** */
div p{
   font-size: 25px;
    color: #afafaf; 
}
.shape{
    margin-bottom: 10px;
}
.shape div:first-of-type{
    background-color: #d21f1f;;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: -31px 0px 0px 115px;
}
.shape div:nth-of-type(2){
    background-color: #0f8e8e;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    margin: -10px 0px 0px 130px;
}
.shape div:last-of-type{
   background-color: #afafaf;
    width: 160px;
    height: 10px;
    border-radius: 5px;
    margin: -10px 0px 0px 176px;  
}
/* ******************** select ********************** */
.project-plan-status{
    position: relative;
    margin-top: 18px;
    margin-bottom: 20px;
}
.project-plan-status img{
    width: 21px;
    float: right;
    position: absolute;
    right: 15px;
    top: 9px;
}
.project-plan-status span:first-of-type{
    position: absolute;
    font-size: 25px;
    color: #525252;
    right: 50px;
    top: 7px;
}
.project-plan-status span:nth-of-type(2) a{
    font-size: 25px;
    color: #525252;
    position: absolute;
    margin-left: 112px;
    margin-top: 6px;
}
.project-plan-status span:nth-of-type(2) a:hover{
    text-decoration: none;
}
.project-plan-status span:nth-of-type(2) a i{
    font-size: 18px;
}
.project-plan-status span:last-of-type{
    font-size: 25px;
    color: #525252;
    position: absolute;
    margin-top: 6px;
    margin-left: 20px;
}
.project-plan-status select{
    width: 100%;
    direction: rtl;
    height: 35px;
    background-color: #d4d3d3;
    border-radius: 5px;
    padding-right: 35px;
    font-size: 22px;
    color: #525252;
    border: none;
    margin: 5px 0px -20px 0px;
}
/* *************** content ************* */
.col-md-4{
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    width: 31%;
}
.content{
    margin-top: 0px;
}
.content .col-md-4 p:first-of-type{
   border-bottom: 1px solid #afafaf;
    margin: -2px -15px 3px -15px;
    font-size: 25px;
}
.content .col-md-4 p:first-of-type span img{
    width: 15px;
    float: right;
    margin-top: 4px;
    margin-right: 7px;
    
}
.content .col-md-4 p:first-of-type span:first-of-type{
    margin-left: 80px;
    font-weight: 700;
    color: #525252;
    font-size: 18px;
}
.content .col-md-4 p:first-of-type {
    color: #525252;
    font-size: 15px;
    margin-right: -16px;
    margin-left: -16px;
}
.content .col-md-4 p:first-of-type span:nth-of-type(3) i ,span:nth-of-type(4) i{
    margin-right: 10px;
}
.content .col-md-4 p:first-of-type span:last-of-type{
    margin-left: 6px;
    font-weight: 700;
    color: #525252;
    font-size: 15px;
    margin-right: 8px;
}
.content .col-md-4 p:nth-of-type(2){
    float: right;
    margin-right: -8px;
}
.content .col-md-4 p:nth-of-type(2) span , p:nth-of-type(4) span{
    font-size: 16px;
    color: #525252;
    margin-right: 5px;
}
.content .col-md-4 p:nth-of-type(2) i , p:nth-of-type(4) i{
    font-size: 15px;
    color: #525252;
    float: right;
    margin-top: 2px;
}

.content .col-md-4 p:last-of-type{
    float: right;
    margin: -8px -10px 0px 17px;
    direction: rtl;
}
.content .col-md-4 p:last-of-type a{
    color: #525252;
    font-size: 15px;
}

.content .col-md-4 p:nth-of-type(3){
    float: right;
    color: #525252;
    font-size: 16px;
}
.content .col-md-4 p:nth-of-type(3) i{
    float: right;
    margin-right: -8px;
    margin-left: 5px;
}
/* ****************** last part ******************** */
.last-part {
   width: 94%;
    height: 30px;
    background-color: #afafaf;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: -40px;
    right: 23px;
}
.last-part a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}
.last-part a span i{
    color: white;
    font-size: 20px;
}


@media (min-width:500px) and (max-width:800px){
     .col-md-4 {
        width: 100%;
    }
    .content .col-md-4 p:first-of-type span:first-of-type {
        float: right;
        margin-right: 9px;
        margin-top: -3px;
    }
    .content .col-md-4 p:nth-of-type(3) {
       margin-right: -149px;
       margin-top: 25px;
    }
    
    .content .col-md-4 p:nth-of-type(2) {
       float: right;
       margin-right: -8px;
    }
    .content .col-md-4 p:last-of-type {
    margin-top: 5px;
    }
    .last-part {
       width: 95%;
       right: 0px;
    }
    
    
    .line {
    width: 30px;
    height: 3px;
    background: #525252;
    margin: 5px;
  }
  nav {
    position: relative;
  }
   
  .button {
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 269px;
  }

  .nav-links {
    position:absolute;
    background-color: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -40%);
      top: 82px;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1000px at 80% -10%);
  }
  
    .row {
      margin-right: 0px;
    }
    .row >div {
       float: left;
    }
    .col-xs-3 {
        width: 0%;
   }
    .col-xs-9 {
       width: 100%;
}
    nav .logo img {
      margin: -65px 0px 0px 173px;
   }
    nav .logo p:last-of-type {
       margin: 0px 0px -14px 52px;
    }
    nav .logo p:first-of-type {
       margin: 20px 0px -19px 87px;
    } 
    
}

@media (min-width:801px) and (max-width:991px){
    
    .col-md-4 {
        width: 47%;
    }
    .content .col-md-4 p:first-of-type span:first-of-type {
       float: right;
       margin-right: 1px;
    }


    .content .col-md-4 p:last-of-type {
       margin-top: 5px ;
     }
    
    .content .col-md-4 p:nth-of-type(3) {
        margin-top: 23px;
        margin-right: -148px;
    }
    .content .col-md-4 p:nth-of-type(2) {
       float: right;
       margin-right: -9px;
    }
    .list-unstyled {
      margin-right: -15px;
      padding-right: 0px;
     }
    nav ul li a span {
      font-size: 25px;
    }
    nav ul li a img {
      width: 25px;
    }
    nav .logo img {
        width: 95px;
      margin: -65px 0px 0px 90px;
    }
    nav .logo p:first-of-type {
      font-size: 25px;
      margin: 20px 0px -19px 15px;
   }
    nav .logo p:last-of-type {
      font-size: 25px;
      margin: 0px 0px -14px -13px;
   }
}
 
@media (min-width:992px) and (max-width:1199px){
    nav .logo img {
      margin: -65px 0px 0px 128px;
   }
    nav .logo p:last-of-type {
      margin: 0px 0px -14px 6px;
    }
    nav .logo p:first-of-type {
      margin: 20px 0px -19px 41px;
   }
    nav ul li {
      width: 120%;
   }
    .list-unstyled { 
       padding-right: 0;
    }
    .content .col-md-4 p:first-of-type span:first-of-type {
       margin-left: 34px;
    }
}

