.row > div{
    float: right;
}

nav .logo{
    margin-bottom: -24px;
}
nav .logo p:first-of-type{
    font-size: 30px;
    color: #525252;
    margin: 20px 0px -19px 70px;
}
nav .logo p:last-of-type{
    font-size: 30px;
    color: #525252;
    margin: 0px 0px -14px 39px; 
}
nav .logo img{
    width: 100px;
    display: inline-block;
    margin: -65px 0px 0px 162px;
}
ul{
   margin-top: 24px; 
}
nav ul  {
    direction: rtl;
}
nav ul li{
    padding-top: 12px;
    margin-top: 4px;
}
nav ul li:nth-of-type(2){
    background-color: #2cc3b53d;
    border-radius: 5px;
}
nav ul li:first-of-type img , li:nth-of-type(2) img , li:nth-of-type(4) img{
    margin-top: 4px;
}
nav ul li a:hover{
    text-decoration: none; 
}
nav ul li:hover{
    background-color: #2cc3b53b;
    border-radius: 5px;
    margin-right: 10px;
    width: 235px;
}
 nav ul li a img{
    width: 35px;
    margin-top: -8px;
    margin-left: 15px;
    float: right;
}
nav ul li a span{
     font-size: 30px;
    color: #525252;
}
/*  ********* left side ************* */

/* ***** shape ****** */
div p{
   font-size: 25px;
    color: #afafaf; 
}
.shape{
    margin-bottom: 10px;
}
.shape div:first-of-type{
    background-color: #d21f1f;;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: -31px 0px 0px 115px;
}
.shape div:nth-of-type(2){
    background-color: #0f8e8e;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    margin: -10px 0px 0px 130px;
}
.shape div:last-of-type{
   background-color: #afafaf;
    width: 160px;
    height: 10px;
    border-radius: 5px;
    margin: -10px 0px 0px 176px;  
}
/* ******************** select ********************** */
.project-plan-status{
    position: relative;
    margin-top: 18px;
}
.project-plan-status img{
    width: 21px;
    float: right;
    position: absolute;
    right: 10px;
    bottom: 6px;
}
.project-plan-status span:first-of-type{
    position: absolute;
    font-size: 27px;
    color: #525252;
        right: 40px;

}
.project-plan-status span:nth-of-type(2) a{
    font-size: 25px;
    color: #525252;
    position: absolute;

}
.project-plan-status span:nth-of-type(2) a:hover{
    text-decoration: none;
}
.project-plan-status span:nth-of-type(2) a i{
    font-size: 18px;
}
.project-plan-status span:last-of-type{
    font-size: 25px;
    color: #525252;
    position: absolute;
    left: 20px;

}
.project-plan-status select{
    width: 100%;
    direction: rtl;
    height: 35px;
    background-color: #d4d3d3;
    border-radius: 5px;
    padding-right: 35px;
    font-size: 22px;
    color: #525252;
    border: none;
}
/* *************** content ************* */
.box-content{
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 5px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 26px;
}

.content p:first-of-type{
    border-bottom: 1px solid #ddd;
    margin-right: -16px;
    margin-left: -16px;
    margin-bottom: -6px;
}
.content p:first-of-type span:first-of-type , span:nth-of-type(3){
    color: #525252;
    font-size: 17px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
.content p:first-of-type span:nth-of-type(2) img , span:nth-of-type(4) img{
   width: 17px;
    float: right;
    margin-right: -78px;
    margin-top: 8px;
}
.content p:first-of-type span:nth-of-type(4) img{
    margin-right: -126px;
    height: 18px;
}
.content p:first-of-type span i , span:nth-of-type(5){
   color: #525252;
    font-size: 17px;
    margin-left: 12px;
    font-weight: 700;
}
.content p:nth-of-type(2){
   float: right;
    margin-right: -8px;
}
.content p:nth-of-type(2) i , p:nth-of-type(4) i{
    font-size: 17px;
    color: #525252;
}
.content p:nth-of-type(3) , p:nth-of-type(4){
    float: right;
    font-size: 23px;
    color: #525252;
    margin-top: 30px;
    margin-right: -121px;
}
.content p:nth-of-type(4){
      margin-top: 54px;
    margin-right: -235px;
    padding-top: 11px;
}
.content p:nth-of-type(4) span{
    
}
.content p:nth-of-type(6){
    color: #525252;
    margin-top: 89px;
    font-size: 17px;  
}
.content .border{
    border-top: 1px solid #ddd;
    margin: 70px -16px -87px -16px;
}
/* ****************** last part ******************** */
.last-part {
   width: 100%;
    height: 30px;
    background-color: #afafaf;
    text-align: center;
    border-radius: 5px;
}
.last-part a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}
.last-part a span i{
    color: white;
    font-size: 20px;
}

@media(min-width:500px) and (max-width:700px){
    nav .logo{
        direction: rtl;
    }
    nav .logo img {
       width: 55px;
        position: absolute;
        top: 95px;
    }
    
    nav .logo p:first-of-type {
    font-size: 25px;
    color: #525252;
    position: relative;
    right: 55px;
    top: 25px;
    }
    
    nav .logo p:last-of-type {
    font-size: 25px;
    color: #525252;
    position: relative;
    top: 36px;
}
    
    
    .list-unstyled {
    padding-left: 0;
    list-style: none;
        margin-top: 55px;}
    
    nav ul li {
    padding-top: 12px;
    margin-top: 4px;
    margin-right: -49px;
        margin-left: -125px;}
    
    nav ul li a img {
    width: 22px;
    margin-top: -8px;
        float: right;}
    
    nav ul li a span {
    font-size: 20px;
    
}

@media(min-width:701px) and (max-width:991px){
   
    nav .logo img {
      width: 60px;
    }
    
    nav .logo p:first-of-type {
    font-size: 25px;
    color: #525252;
    position: relative;
    top: 21px;
    left: 20px;
    }
    
    }